import styles from "./{{name}}.module.css";

type {{name}}Props = {
  children?: React.ReactNode;
};

export default function {{name}}({ children }: {{name}}Props) {
  return <div className={styles.container}>{children}</div>;
}
